# --- .NET (Backend) ---
**/bin/
**/obj/
.vs/
*.user
appsettings.Development.json

# --- Angular / Node.js (Frontend) ---
**/node_modules/
**/dist/
**/.angular/
.editorconfig

# Egyeb kozos dolgok
.vscode/
.DS_Store
Thumbs.db
**/.vscode/